body{
	margin: 0 auto;
	background-color:wheat;
	}
::-webkit-scrollbar{
	width: 15px;
	background-color: white;
	box-shadow: inset 0 0 3px black;
}
::-webkit-scrollbar-thumb{
	border-radius: 10%;
	background-color: #EC6911;
	box-shadow: inset 0 0 3px black;
}
::-webkit-scrollbar-track{
	border-radius: 20%;
	background-color: white;
	box-shadow: inset 0 0 3px black;
}
#Container{
	background-color: #5A5A5A;
	width: 100%;
	height: 90px;
    font-size: 30px;
    font-family: bahnschrift;
    position: fixed;
    text-align: center;
   background: linear-gradient(50deg, #5A5A5A, silver, #5A5A5A, #5A5A5A);
   filter: drop-shadow(2px 3px 3px black);

}
#Logo{
	float: left;
	position: fixed;
	-webkit-animation: floating-animation 6s ease-in-out infinite;
   -o-animation: floating-animation 6s ease-in-out infinite;
 animation: floating-animation 6s ease-in-out infinite;

}
@keyframes floating-animation{
0%{
-webkit-transform: translateY(0); 
-moz-transform: translateY(0); 
-ms-transform: translateY(0); 
-o-transform: translateY(0); 
transform: translateY(0); 
}
50%{
	-webkit-transform: translateY(-10px); 
-moz-transform: translateY(-10px); 
-ms-transform: translateY(-10px); 
-o-transform: translateY(-10px); 
transform: translateY(-10px); 
}
100%
-webkit-transform: translateY(-20px); 
-moz-transform: translateY(-20px); 
-ms-transform: translateY(-20px); 
-o-transform: translateY(-20px); 
transform: translateY(-20px); 
}

.Menu:after{
content: '';
	display: block;	
	width: 0;
	height: 2px;
	background: white;
	transition: width .10s
}
.Menu:hover:after{
	width: 100%;
	transition: width .10s;


}
li{
	display: inline-block;
   
}
li a {
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 60px;
	padding-top: 25px;
	font-family: Road Rage;
	color: #D01A1A;
	font-size: 40px;
	font-weight: bolder;
	-webkit-text-stroke:0.3px black;

}

li a:hover{
    color: white;
    transition: 0.4s;


}

#Header2 img{
	right: -18px;
	position: fixed;
	filter: drop-shadow(6px 2px 2px black);

}
.Header p{
	font-family: tahoma;
	font-size: 200px;
	margin-top: -700px;
	text-align: center;
	color: white;
	letter-spacing: 10px;
	font-weight: bolder;
		text-shadow: 5px 5px 5px black;
}
.Header img{
border-color: black;
border-width: 100px;
	

	
}
.Body2 img{
	filter: drop-shadow(12px 5px 12px black);
float: bottom
background-color: wheat;
border-radius: 10px 20px 5px;

}
.pic1 img{
	position: relative;
	z-index: -999999;
	margin-left: 85px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic2 img{
		position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic3 img{
	position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic4 img{
		position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic5 img{
		position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
filter: drop-shadow(4px 4px 4px black);

}
fieldset {
	border-color: salmon;
border-width: 5px;

}
legend {
	font-family: tahoma;
	font-size: 40px;
	color: maroon;
	margin-left: 450px;
	position: static;
	margin-top: -150px;
}
.field1{
margin-bottom: 120px;
}
.field2{
margin-bottom: 120px;
}
.field3{
margin-bottom: 120px;
}

.field4{
margin-bottom: 120px;
}

.field5{
margin-bottom: 120px;
}

footer{
	font-family: bahnschrift;
	font-size: 17px;
	font-weight: lighter;
	color: dimgray;
	text-align: center;
}
a{
	color: dimgray;
	text-decoration: none;
}
a:hover{
	color: #B22222;
}


























/* START OF MEDIA QUERIES */
@media screen 
and (max-width : 1000px)
{
	body{
	margin: 0 auto;
	background-color: wheat;
	}
::-webkit-scrollbar{
	width: 15px;
	background-color: white;
	box-shadow: inset 0 0 3px black;
}
::-webkit-scrollbar-thumb{
	border-radius: 10%;
	background-color: #EC6911;
	box-shadow: inset 0 0 3px black;
}
::-webkit-scrollbar-track{
	border-radius: 20%;
	background-color: white;
	box-shadow: inset 0 0 3px black;
}
#Container{
	background-color: #5A5A5A;
	width: 100%;
	height: 90px;
    font-size: 30px;
    font-family: bahnschrift;
    position: fixed;
    text-align: center;
   background: linear-gradient(50deg, #5A5A5A, silver, #5A5A5A, #5A5A5A);
   filter: drop-shadow(2px 3px 3px black);

}
#Logo{
	float: left;
	position: fixed;
	-webkit-animation: floating-animation 6s ease-in-out infinite;
   -o-animation: floating-animation 6s ease-in-out infinite;
 animation: floating-animation 6s ease-in-out infinite;

}
@keyframes floating-animation{
0%{
-webkit-transform: translateY(0); 
-moz-transform: translateY(0); 
-ms-transform: translateY(0); 
-o-transform: translateY(0); 
transform: translateY(0); 
}
50%{
	-webkit-transform: translateY(-10px); 
-moz-transform: translateY(-10px); 
-ms-transform: translateY(-10px); 
-o-transform: translateY(-10px); 
transform: translateY(-10px); 
}
100%
-webkit-transform: translateY(-20px); 
-moz-transform: translateY(-20px); 
-ms-transform: translateY(-20px); 
-o-transform: translateY(-20px); 
transform: translateY(-20px); 
}

.Menu:after{
content: '';
	display: block;	
	width: 0;
	height: 2px;
	background: white;
	transition: width .10s
}
.Menu:hover:after{
	width: 100%;
	transition: width .10s;


}
li{
	display: inline-block;
   
}
li a {
	text-decoration: none;
	display: inline-block;
	color: white;
	padding: 60px;
	padding-top: 25px;
	font-family: Road Rage;
	color: #D01A1A;

	font-weight: bolder;
	-webkit-text-stroke:0.3px black;

}

li a:hover{
    color: white;
    transition: 0.4s;


}

#Header2 img{
	right: -18px;
	position: fixed;
	filter: drop-shadow(6px 2px 2px black);

}
.Header p{
	font-family: tahoma;
	font-size: 200px;
	margin-top: -700px;
	text-align: center;
	color: white;
	letter-spacing: 10px;
	font-weight: bolder;
		text-shadow: 5px 5px 5px black;
}
.Header img{
border-color: black;
border-width: 100px;
	
}
.Body2{
margin-top: -300px;
	
}
.Body2 img{
	filter: drop-shadow(12px 5px 12px black);
float: bottom
background-color: wheat;
border-radius: 10px 20px 5px;


}
.pic1 img{
	position: relative;
	z-index: -999999;
	margin-left: 85px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic2 img{
		position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic3 img{
	position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic4 img{
		position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
}
.pic5 img{
		position: relative;
	z-index: -999999;
	margin-left: 80px;
	margin-bottom: 150px;
	transform-style: preserve-3d;
transition: 2s; 
filter: drop-shadow(4px 4px 4px black);


}
fieldset {
	border-color: salmon;
border-width: 5px;

}
legend {
	font-family: tahoma;
	font-size: 40px;
	color: maroon;
	margin-left: 450px;
	position: static;
	margin-top: -150px;
}
.field1{
margin-bottom: 120px;
}
.field2{
margin-bottom: 120px;
}
.field3{
margin-bottom: 120px;
}

.field4{
margin-bottom: 120px;
}

.field5{
margin-bottom: 120px;
}

footer{
	font-family: bahnschrift;
	font-size: 17px;
	font-weight: lighter;
	color: dimgray;
	text-align: center;
}
a{
	color: dimgray;
	text-decoration: none;
}
a:hover{
	color: #B22222;
}

